@model MINHTHUShop.Web.Models.ProductVM

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<link href="~/Content/Client/css/etalage.css" rel="stylesheet" />

@section footerJS{
    <script type="text/javascript" src="~/Content/Client/js/jquery.flexisel.js"></script>
    <script src="~/Content/Client/js/jquery.etalage.min.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });

        $('#etalage').etalage({
            thumb_image_width: 300,
            thumb_image_height: 400,
            source_image_width: 900,
            source_image_height: 1200,
            show_hint: true,
            click_callback: function (image_anchor, instance_id) {
                alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
            }
        });

    </script>

}

<div class="single_top">
    <div class="single_grid">
        <div class="grid images_3_of_2">
            <ul id="etalage">
                <li>
                    <a href="optionallink.html">
                        <img class="etalage_thumb_image img-responsive" src="@Model.Image" />
                        <img class="etalage_source_image img-responsive" src="@Model.Image" title="" />
                    </a>
                </li>
                @{
                    var listImages = (List<string>)ViewBag.ListImg;
                    if (listImages.Count > 0)
                    {
                        foreach (var image in listImages)
                        {
                            <li>
                                <img class="etalage_thumb_image img-responsive" src="@image" />
                                <img class="etalage_source_image img-responsive" src="@image" title="" />
                            </li>
                        }
                    }
                }
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">
            <h6>@Model.Name</h6>
            <div class="cart-b">
                <div class="left-n">@Model.PromotionPrice.ToString("N0") đ</div>
                <a class="now-get get-cart-in btnAddToCart" href="#" data-id="@Model.ProductID">&#128722; Thêm giỏ hàng</a>
                <div class="clearfix"></div>
            </div>
            @if (Model.Price != Model.PromotionPrice)
            {
                var tietKiem = @Model.Price - @Model.PromotionPrice;
                <h6><small>Giá thị trường: @Model.Price.ToString("N0") đ - Tiết kiệm:  @tietKiem.ToString("N0") đ</small></h6>
            }
            <div class="clearfix"> </div>
            <div class="tag">
                <h6>Tag: </h6>
                <ul class="tag_nav">
                    @foreach (var tag in (IEnumerable<MINHTHUShop.Web.Models.TagVM>)ViewBag.Tags)
                    {
                        <li><a href="/tag/@(tag.TagID).html" style="text-decoration:none">@(tag.Name)</a></li>
                    }

                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>

    @{
        var relatedProducts = (IEnumerable<MINHTHUShop.Web.Models.ProductVM>)ViewBag.RelatedProducts;
    }
    <ul id="flexiselDemo1">
        @foreach (var product in relatedProducts)
        {
        <li>
            <img src="@product.Image" />
            <div class="grid-flex">
                <a href="/@(product.MetaTitle).p-@(product.ProductID).html" style="text-decoration:none;"><h6 style="height:60px">@product.Name</h6></a><p style="color: #F97E76;"><b>@product.PromotionPrice.ToString("N0") đ</b></p>
            </div>
        </li>
        }
    </ul>

    <div class="toogle">
        @if (Model.Description != null)
        {
            <h3 class="m_3">Thông tin sản phẩm</h3>
            <p class="m_text">@Html.Raw(Model.Description)</p>
        }
        @if (Model.Detail != null)
        {
            <h3 class="m_3">Thành phần sản phẩm</h3>
            <p class="m_text">@Html.Raw(Model.Detail)</p>
        }
    </div>
</div>