@model MINHTHUShop.Web.Models.FeedbackVM
@using BotDetect.Web.Mvc;

@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

@section footerJS{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkNh8LQDMPAbwHPZS1bsexQkoFidyhQns">
    </script>
    <script src="~/Content/Client/js/controller/about.js"></script>
}

<style>
    #map {
        @*height: 400px;*@
        height:100%;
    }
</style>

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

<div class="main">
    <div class="reservation_top">
        <div class="contact_right">
            <h3>Cửa hàng</h3>
            @foreach (var item in Model.AboutVMs)
            {
                <input type="hidden" id="hidAddress" value="@item.Name<br />Địa chỉ: @item.Address" />
                <input type="hidden" id="hidLat" value="@item.MapLat" />
                <input type="hidden" id="hidLong" value="@item.MapLong" />
                <input type="hidden" id="hidName" value="@item.Name" />

                <address class="address">
                    <p>@item.Name<br /><small>@item.Address</small></p>
                    <dl>
                        <dt> </dt>
                        @if (item.Phone != null)
                        {
                            <dd>Điện thoại: <span>@item.Phone</span></dd>
                        }
                        @if (item.Email != null)
                        {
                            <dd>Email: <a href="mailto:(@item.Email)">@item.Email</a></dd>
                        }
                        @if (item.Website != null)
                        {
                            <dd>Website: <a href="@item.Website">@item.Website</a></dd>
                        }
                        @if (item.Description != null)
                        {
                            <dd>Mô tả: <span>@item.Description</span></dd>
                        }
                    </dl>
                </address>
                <div class="clearfix"></div>
                <div id="map"></div>

            }
        </div>
    </div>

    <div class="reservation_top">
        <div class="contact_right">
            <h3>Gửi phản hồi</h3>
            <div class="contact-form">
                @using (Html.BeginForm("SendFeedback", "About", FormMethod.Post))
                {
                    if (ViewData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            Bạn đã gửi phản hồi <strong>thành công</strong>.
                            <br />Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất!
                        </div>
                    }
                    @Html.ValidationSummary(false, "", new { @class = "error" });

                    <h5 style="color:grey">Nội dung phản hồi:</h5>
                    @Html.TextAreaFor(model => model.Message);

                    <h5 style="color: grey">Nhập mã Captcha:</h5>
                    MvcCaptcha aboutCaptcha = new MvcCaptcha("aboutCaptcha");
                    @Html.Captcha(aboutCaptcha)
                    @Html.TextBox("CaptchaCode")

                    <input type="submit" value="Gửi đi">
                    <div class="clearfix"> </div>
                }
            </div>
        </div>
    </div>
</div>

